.home__ {
    &top {
        height: 100vh;
        min-height: 100%;
        background-size: cover;
        position: relative;
        display: flex;
        justify-content: center;
    }
    &top {
        &__item {
            align-self: center;
            text-align: center;
        }
        &__item {
            &__logo {

            }

            &__text {
                color: white;
                font-weight: 600;
                font-size: 4rem;
                font-family: Regis;
            }
        }
    }

    &top2 {
        height: 720px;
        min-height: 100%;
        background-size: cover;
        position: relative;
        display: flex;
        justify-content: center;
        font-family: ITC Cheltenham Std;
    }

    &top2 {
        &__item {
            text-align: center;
            align-self: center;
        }

        &__item {
            &__kbmti {
                font-size: 4rem;
                font-weight: 600;
                color: #24231F;
                margin-bottom: 30px;
            }

            &__kbmti-long {
                font-size: 2.25rem;
                font-weight: 600;
                color: #24231F;
                margin-bottom: 30px;
            }

            &__desc {
                font-size: 1.5rem;
                line-height: 180%;
                max-width: 730px;
                color: #24231F;
            }
        }
    }

    &mid {
        &__visi {
            margin-top: 55px;
            &__title {
                &__border {
                    width: 4px;
                    height: 61px;
                    background: #951C21;
                    align-self: center;
                }
                & span {
                    margin-left: 16px;
                    font-weight: 600;
                    font-size: 4rem;
                    font-family: ITC Cheltenham Std;
                }
            }
            &__desc {
                margin-top: 24px;
                max-width: 730px;
                font-size: 1.5rem;
                color: #4E4B66;
                text-align: justify;
                line-height: 180%;
                font-family: ITC Cheltenham Std;
            }
        }
        &__budaya {
            margin-top: 130px;
            &__title {
                margin-bottom: 30px;
                &__border {
                    width: 4px;
                    height: 61px;
                    background: #951C21;
                    align-self: center;
                }
                & span {
                    margin-left: 16px;
                    font-weight: 600;
                    font-size: 4rem;
                    font-family: ITC Cheltenham Std;
                }
            }
            &__list {
                margin-top: 60px;
                &__title {
                    font-weight: 600;
                    font-size: 3rem;
                    color: #24231F;
                    font-family: ITC Cheltenham Std;
                }
                &__desc {
                    margin-top: 30px;
                    font-size: 1.5rem;
                    line-height: 180%;
                    color: #4E4B66;
                    max-width: 730px;
                    font-family: ITC Cheltenham Std;
                }
            }
        }
    }

    &mid2 {
        margin-top: 130px;
        margin-bottom: 100px;
        &__clock {
            margin-bottom: 20px;
            width: 60px;
        }

        &__title {
            margin-bottom: 20px;
        }

        &__title span {
            margin-left: 16px;
            font-weight: 600;
            font-size: 3rem;
            color: #24231F;
            font-family: ITC Cheltenham Std;
        }

        &__desc {
            font-size: 1.5rem;
            color: #4E4B66;
            font-family: ITC Cheltenham Std;
            max-width: 530px;
        }

        &__carousel {
            @include respon(phone) {
                margin-top: 25px;
            }
            &__prev {
                margin-right: 20px;
            }

            &__next {
                margin-left: 20px;
            }

            &__slide {
                &__inner {
                    border-radius: 20px;
                }
            }
        }
    }


 
 
  

    &down {
        margin-top: 125px;
        margin-bottom: 100px;
        &__berita {
            margin-top: 10px;
            margin-bottom: 1px;
        }

        &__text {
            font-weight: 600;
            font-size: 1.5rem;
            color: #0c0e0d; 
            margin-top: 10px;
            margin-bottom: 10px;
            font-family: ITC Cheltenham Std;
        }

        &__date {
            margin-top: 1px;
            margin-bottom: 1px;
            font-weight: 600;
            font-size: 1rem;
            color: #750404;
            font-family: ITC Cheltenham Std;
        }

        &__title {
            font-weight: 600;
            font-size: 1rem;
            color: #24231F;
            font-family: ITC Cheltenham Std;
        }
    }
}
