@font-face {
    font-family: 'ITC CHELTENHAM STD';
    src: url("/font/utc/CheltenhamStdBook.otf");
}

@font-face {
    font-family: 'Regis';
    src: url("/font/regis/Regis-SemiBold.ttf");
}

@import 'variable';

@import "./node_modules/bootstrap/scss/bootstrap";

@import 'abstract/mixins';
@import 'abstract/animation';

@import 'layouts/navbar';
@import 'layouts/footer';
@import 'layouts/card-member';
@import 'layouts/heading';
@import 'layouts/search';
@import 'layouts/paginator';
@import 'layouts/tag';
@import 'layouts/folder';
@import 'layouts/subfolder';
@import 'layouts/table';

@import 'pages/landing-page';
@import 'pages/department';
@import 'pages/landing-page';
@import 'pages/profile';
@import 'pages/berita';
@import 'pages/berita-view';
@import 'pages/under_const';
@import 'pages/_bank_materi';
