.card-member {
    background-color: #F5F5F5;
    padding: 1.875rem 1.1875rem 3.125rem;
    border-radius: 20px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    &__nama {
        font-weight: 600;
        color: #24231F;
        font-size: 1.5rem;
        font-family: ITC Cheltenham Std;
        margin-top: 1.5rem;
    }
    &__position {
        line-height: 180%;
        font-size: 1.125rem;
        color: #4E4B66;
        font-family: ITC Cheltenham Std;
        margin-bottom: 0.9375rem;
    }
    &__image {
        width: 160px;
        height: 160px;
        vertical-align: middle;
        border-radius: 50%;
    }
    &__sm {
        // margin-top: 0.625rem;
    }
    &__icon {
        fill: #24231F;
        transition: fill 0.5s;
        &:hover{
            fill: #951C21;
        }
    }
}
