.folder {
    background-color: #F5F5F5;
    border-radius: 20px;
    max-width: 260px;
    padding: 32px 30px;
    &__img {
        width: unset !important;
    }
    &__course {
        margin-top: 20px;
        font-family: ITC Cheltenham Std;
        font-weight: 300;
        font-size: 1.5rem;
        color: #24231F;
        margin-bottom: 20px;
    }
    &__count {
        font-family: ITC Cheltenham Std;
        font-weight: 300;
        font-size: 1.125rem;
        color: #24231F;
        opacity: 0.4;
    }
}
