.navbar {
    background-color: #951C21;
    position: fixed !important;
    width: 100%;
}

.nav-item {
    margin-left: 60px;
    .active {
        font-weight: 700;
    }
}

.nav-item a {
    font-size: 1.5rem;
    font-family: ITC Cheltenham Std;
}