.navbar {
    background-color: #951C21;
    position: fixed !important;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.nav-item {
    margin-left: 60px;
}

.nav-item a {
    font-size: 1.5rem;
    font-family: ITC Cheltenham Std;
}
