.subfolder {
    background-color: #F5F5F5;
    border-radius: 10px;
    padding: 32px;
    &__img {
        width: unset !important;
        margin-right: 22px;
    }
    &__type {
        width: 170px;
        font-family: ITC Cheltenham Std;
        font-weight: 300;
        font-size: 1.5rem;
        color: #24231F;
    }
    &__border-red {
        border: 3px solid #951C21;
    }
    &__border-white {
        border: 3px solid transparent;
    }
}
