.btn-tag {
    background-color: #951C21;
    color: white;
    border-radius: 3.475rem;
}
.btn-tag:hover {
    color: white !important;
    background-color: #973c40;
}
.berita_detail__tag {
    margin-top: 50px;
    max-width: 650px;
}
